---
- name: Clone bash
  git:
    repo: '{{ bash_github }}'
    dest: ~/.custom_bash
    update: no

- name: Make sure bashrc file exists
  file:
    path: ~/.bashrc
    state: touch

- name: Edit bashrc
  lineinfile:
    dest: '~/.bashrc'
    line: 'source $HOME/.custom_bash/main'

- name: Clone vimrc
  git:
    repo: '{{ vimrc_github }}'
    dest: ~/.custom_vim
    update: no

- name: Install vimrc
  ignore_errors: yes
  shell: ./install.sh
  args:
    chdir: ~/.custom_vim

- name: Clone tmux
  git:
    repo: '{{ tmux_github }}'
    dest: ~/.custom_tmux
    update: no

- name: Edit .bashrc for powerline
  blockinfile:
    path: ~/.bashrc
    block: |
        # Powerline
        if [ -f `which powerline-daemon` ]; then
            powerline-daemon -q
            POWERLINE_BASH_CONTINUATION=1
            POWERLINE_BASH_SELECT=1
        fi
        if [ -f /usr/share/powerline/bash/powerline.sh ]; then
            source /usr/share/powerline/bash/powerline.sh
        fi
